# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javaweb\javaweb-02-maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
